body{
    animation-name: portfolitbg;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes portfolitbg {
    /* カラーコードの末尾に2つ追加で透明度 */
    0% {background:#8dd98d4D;}
    70% {background:#8dd98d4D;}
    90% {background:#8dd98d1A;}
    100% {background:#8dd98d00;}
}