body{
    animation-name: portfolitbg;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes portfolitbg {
    /* カラーコードの末尾に2つ追加で透明度 */
    0% {background:#8dd98d4D;}      /* opacity: 30% */
    100% {background:#8dd98d33;}    /* opacity: 20% */
}